html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

h1 {
  font-size: 17pt;
  font-weight: bold;
}

h2 {
  font-size: 13pt;
  font-weight: bold;
}

body {
  font-family: sans-serif;
  background-color: white;
  counter-reset: page;
  font-size: 8.5pt;
}

h2 {
  break-before: page;
  /* break-before: right , makes the page on the right side */
}

@media print {
  body {
    background-color: white;
  }
}

@page {
  size: 4.75in 8in; /* set for the class */
  margin-top: 0.25in;
  margin-bottom: 0.5in;
  bleed: 0.25in;
  marks: crop;
}
@page:left {
  margin-left: 0.25in;
  margin-right: 0.5in;
  background-color: #000000;
  @bottom-left {
    content: counter(page);
    font-size: 30pt;
    color: white;
    font-weight: 200;
    filter: blur(1px);
    mix-blend-mode: difference;
  }
  }

@page:right {
  margin-left: 0.5in;
  margin-right: 0.25in;
  @bottom-right {
    content: counter(page);
    font-size: 6pt;
    color: white;
    filter: blur(0.8px);
    mix-blend-mode: difference;
  }
}

.two-col {
  column-count: 2;
  column-gap: 2em;
}

p:first-child {
  margin-top: 0
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

.flip {
  mix-blend-mode: multiply;
  z-index: 2;
  position: absolute;
  top: 140px;
  left: -204px;
}

.flip2 {
  mix-blend-mode: multiply;
  z-index: 3;
  position: absolute;
  top: 140px;
  left: -200px;
}

.headshots {
  width: 80%;
  break-before: page;
  z-index: 0;
  position: absolute;
  top: 100px;
}

.headshots_BW {
  width: 80%;
  break-before: page;
  z-index: 0;
  position: absolute;
  top: 100px;
  right: 0px;
  filter: blur(2px) contrast(3);
}

.obituary {
  background: #000000;
  color: rgb(255, 255, 255);
  z-index: 4;
  top: 20px;
  position: absolute;
  font-size: 20pt;
  filter: blur(1px);
  mix-blend-mode: difference;
  /* box-shadow: 0 0 10px 5px #ffca1b,
  0 0 20px 7px #ebecca,
  0 0 25px 20px #7e2913,
  0 0 30px 25px #ff4314; */

}

.pageNum {
  z-index: 5;
  position: absolute;
  font-size: 54pt;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-style: italic;
  right: 60px;
  top: 40px;
}

.pageNumL {
  z-index: 5;
  position: absolute;
  font-size: 54pt;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-style: italic;
  right: 60px;
  top: 40px;
  color: white;
  filter: blur(1px);
  mix-blend-mode: difference;
}

.title {
  position: absolute;
  top: 132px;
  left: -30px;
  letter-spacing: -1px;
  z-index: 20;
}

.flip3 {
  mix-blend-mode: multiply;
  z-index: 2;
  position: absolute;
  top: 240px;
  left: -204px;
}

.flip3_2 {
  mix-blend-mode: multiply;
  z-index: 2;
  position: absolute;
  top: 40px;
  left: -44px;
}

.flip3_3 {
  mix-blend-mode: multiply;
  z-index: 2;
  position: absolute;
  top: 260px;
  left: -244px;
}

.flip4 {
  mix-blend-mode: multiply;
  z-index: 2;
  position: absolute;
  top: 240px;
  left: -204px;
}